* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .page-loader{
    z-index: 100;
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loader{
    position: absolute;
    width: 120px;
    height: 120px;
  }
  .loader span{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: rotate(calc(18deg*var(--i)));
  }
  .loader span::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 15px;
      height: 15px;
      background: #6d10ff;
      border-radius: 50%;
      transform: scale(0);
      animation: animate 2s linear infinite;
      animation-delay: calc(0.1s*var(--i));
  }
  @keyframes animate{
      0%{
          transform: scale(0);
      }
      10%{
          transform: scale(1.2);
      }
      80%,100%{
          transform: scale(0);
      }
  }
  .rocket{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      animation: rotating 2s linear infinite;
      animation-delay: -1s;
  }
  @keyframes rotating{
      0%{
          transform: rotate(10deg);
      }
      100%{
          transform: rotate(370deg);
      }
  }
  .rocket::before{
      content: '\f135';
      font-family: fontAwesome;
      position: absolute;
      top: 80px;
      left: 85px;
      color: #6d10ff;
      font-size: 60px;
      transform: rotate(180deg);
  }
  .container {
    position: relative;
    width: 100%;
    background-color:#000;
    min-height: 100vh;
    overflow: hidden;
  }
  .close-btn{
    position: relative;
    left: 98%;
    color: #6d10ff;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1;
  }
  .close-btn:active{
    color: red;
  }
  .forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .form {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
  }

  .title {
    font-family: 'Lora', serif;
    font-size: 2.2rem;
    color: #f2f2f2;
    margin-bottom: 10px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
  }
  .contact-form
  {
      margin-top: 10px;
      width: 100%;
      padding: 10px 20px;
      box-shadow:3px 4px 5px #494949,-3px -4px 5px #494949;
  }
  .single-row
  {
      display: flex;
      justify-content: space-between;
  }
  .form-in
  {
      padding: 0.5em;
      font-size: 14px;
      width: 100%;
      resize: vertical;
      margin-top: 1em;
      background: #eeeeee;
      border: none;
      box-shadow:inset 3px 4px 5px rgba(0,0,0,0.5),inset -3px -4px 5px rgba(194,195,186,0.1);
      outline: none;
      color: #52565e;
  }
  textarea{
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      height: 150px;
      border-radius: 5px;
      resize: none !important;
  }
  input{
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      border-radius: 5px;
  }
  .single-row + input
  {
  margin: 0 10px;
  }
  .ml
  {
      margin-left: 10px;
  }
  .mr
  {
      margin-right: 10px;
  }
  .multiple-row
  {
      position: relative;
  }
  #submit
  {
      display: none;
  }
   a{
    text-decoration: none;
    color: #eeeeee ;
  }
  #submit + label
  {
      position: absolute;
      font-size: 20px;
      width: 45px;
      height: 45px;
      bottom: 20px;
      right: 20px;
      padding: 10px;
      background-color: #3369e7;
      border-radius: 100%;
      color: #eeeeee;
      box-shadow:  6px 6px 12px #bebebe, 
               -6px -6px 12px #ffffff;
      cursor: pointer;
  }
  #submit + label:hover
  {
      box-shadow: inset 6px 6px 12px #2954b9, 
              inset -6px -6px 12px #3d7eff;
  }
  .panels-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .container:before {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    background-image: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff); 
    transition: 1.8s ease-in-out;
    border-radius: 50%;
    z-index: 6;
  }

  .image {
    width: 100%;
    transition: transform 1.1s ease-in-out;
    transition-delay: 0.4s;
  }

  .panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
  }

  .left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
  }

  @media (max-width: 870px) {
    .container {
      min-height: 800px;
      height: 100vh;
    }
    .form {
      width: 100%;
      top: 95%;
      transform: translate(-50%, -100%);
      transition: 1s 0.8s ease-in-out;
    }

    .form{
      left: 50%;
    }

    .panels-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;
    }

    .panel {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 2.5rem 8%;
      grid-column: 1 / 2;
    }

    .left-panel {
      grid-row: 1 / 2;
    }

    .image {
      width: 200px;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.6s;
    }
    .container:before {
      width: 1500px;
      height: 1500px;
      transform: translateX(-50%);
      left: 30%;
      bottom: 68%;
      right: initial;
      top: initial;
      transition: 2s ease-in-out;
    }
    .close-btn{
      z-index: 100;
      left: 95%;
    }
  }

  @media (max-width: 570px) {
    .container {
      padding: 1.5rem;
    }
    .container:before {
      bottom: 72%;
      left: 50%;
    }
    .title{
      font-size: 2rem;
    }
  }