*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    min-height: 100vh;
}
::-webkit-scrollbar{
width: 0;
}
#scrollpath,#scrollpath-left{
    position: fixed;
   
    top: 0;
    width: 10px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}
#scrollpath-left{
    left: 0;
}
#scrollpath{
    right: 0;
}
#progressbar,#progressbar-left{
    position: fixed;
    top: 0;
    width: 10px;
    height: 100%;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background: linear-gradient(to top,#008aff,#00ffe7);
    animation: animate 5s linear infinite;
}
#progressbar-left{
    left: 0;
}
#progressbar{
    right: 0;
}
@keyframes animate{
    0%,100%{
       filter: hue-rotate(0deg); 
    }
    50%{
        filter: hue-rotate(360deg);
    }
}
#progressbar::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,#008aff,#00ffe7);
    filter: blur(10px);
}
#progressbar-left::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,#008aff,#00ffe7);
    filter: blur(10px);
}
#progressbar::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,#008aff,#00ffe7);
    filter: blur(30px);
}
#progressbar-left::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,#008aff,#00ffe7);
    filter: blur(30px);
}

.head-section{
    position: absolute;
    top: 0%;
    
}
.brand-logo{
    position: relative;
    left: 43%;
}
.head-section .heading{
    font-family: 'Lora', serif;
    color: #6d10ff;
    font-size: 6em;
    font-weight: 600;
    text-transform: uppercase;
}
.container{
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
    margin-top: 200px;
}
.container .card{
    position: relative;
    height: 250px;
    background: #fff;
    display: flex;
    width: 45%;
    margin: 30px 0;
    border-radius: 30px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}
.container .card .imgbx{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    border-radius: 25px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
.container .card:hover .imgbx{
    width: 150px;
    height: 150px;
    left: -75px;
    top:calc(50% - 75px);
    transition: 0.5s ease-in-out;
    background: #6d10ff;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}
.imgbx:before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: 700;
    font-size: em;
    color: rgba(255, 255, 255, 0.05);
}
.imgbx img{
    max-width: 400px;
    transition: 0.5s ease-in-out;
}
.card:hover .imgbx img{
    max-width: 150px;
}
.content{
    position: absolute;
    right: 0;
    left: 20%;
    width: calc(100% - 75px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
}
.content h3{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
    font-size: 25px;
}

ul{
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 15px;
}
ul li{
    list-style: none;
}
ul li a{
    position: relative;
    width: 60px;
    height: 60px;
    background:linear-gradient(0deg,#ddd,#fff);
    display: block;
    text-align: center;
    margin: 0 25px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}
ul li a:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
ul li a .fab,ul li a .fas{
    width: 100%;
    height: 100%;
    display: block;
    background:linear-gradient(0deg,#fff,#ddd);
    border-radius: 50%;
    line-height:  calc(60px - 12px);
    font-size: 25px;
    color: #262626;
    transition: 0.5s;
}
ul li a:hover .fab,ul li a:hover .fas{
    color: #6d10ff;
}
.wrapper .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease-out;
}
.wrapper{
    position: relative;
    bottom: 0%;
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}
.wrapper .button:hover{
    width: 200px;
    background: #a26df7;
}
.wrapper .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon{
    background: #6d10ff;
}

.wrapper .button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.wrapper a{
    text-decoration: none;
}
.wrapper .button:hover .icon i{
    color: #fff;
}
.wrapper .button span{
    font-size: 25px;
    font-weight: 600;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}
.wrapper .button span{
    color: #f2f2f2;
}
.project {
    background-color: #111;
    border-radius: 10px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: row;
    flex: 0 0 100%;
    max-width: 100%;
    margin: 20px;
    overflow: hidden !important;
    max-width: 1200px;
}
.project h2 {
    letter-spacing: 1px;
    margin: 10px 0;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    text-align: center;
}

.project-heading {
    background-color: #6d10ff;
    color: #fff;
    padding: 30px;

}

.project-info {
    padding: 30px;
    position: relative;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 1.2rem;
    text-align: center;
    width: 45%;
}
.project-button{
    position: relative;
    top: 50px;
}
.btn{
    text-decoration: none;
    border: 2px solid #6d10ff;
    border-radius: 25px;
    background: transparent;
    padding: 10px 25px;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    transition: 0.5s;
}
.btn:hover{
    background: #6d10ff;
    font-size: 1.2rem;
}
@media (max-width:992px){
    .container{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 400px;
    }
}
@media (max-width:768px)
{
    .card{
        width: 400px !important;
        flex-direction: column !important;
        height: auto !important;
        border-radius: 0px !important;
        border-bottom-left-radius: 25px !important;
        border-bottom-right-radius: 25px !important ;
    }
    .card .imgbx{
        position: relative !important;
        border-radius: 0px !important;
        
    }
    .card .imgbx,.card:hover .imgbx{
        width: 100% !important;
        height: 200px !important;
        left: 0 !important;
    }
    .container .card .content{
        position: relative;
        width: 100%;
        left: 0%;
    }
    .card .imgbx img{
        max-width: 200px;
    }
    .project{
        flex-direction: column;
        height: 350px;
    }
    .project-info{
        width: 100%;
    }
    .project-button{
        top: 0px;
        left: 35%;
    }
}
@media (max-width:470px)
{
    .card{
        width: 300px !important;
       
    }
    .head-section .heading{
        font-size: 4rem ;
    }
    .project-button{
        left: 25%;
    }
    .project{
        flex-direction: column;
        height: 400px;
    }
}